Tutorial/SetlCup_Tutorial.log
Tutorial/SetlCup_Tutorial.lof
Tutorial/SetlCup_Tutorial.lot
Tutorial/0100_MainSection.log
testdata/test_output_2.txt
Tutorial/SetlCup_Tutorial.aux
Tutorial/SetlCup_Tutorial.bbl
Tutorial/SetlCup_Tutorial.synctex
Tutorial/SetlCup_Tutorial.tps
Tutorial/SetlCup_Tutorial.blg
Tutorial/SetlCup_Tutorial.toc
testdata/test_output.txt
temp_action_code.stlx
test_output.stlx
tutorial.pdf
